<h1>New Product</h1>

<%= render 'form', product: @product %>

<% if params[:category_id] %>
  <%= link_to 'Back', category_path(params[:category_id]) %>
<% else %>
  <%= link_to 'Back', products_path %>
<% end %>
